@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 전체 설정 */
* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  line-height: 150%;
  box-sizing: border-box;
}

input {
  width: 90px;
  height: 24px;
  border: 1px solid #cccccc;
  padding: 0 0 0 8px;
}

a {
  display: block;
  text-decoration: none;
  color: #181818;
  font-size: 13px;
  padding: 4px 0;
}

label {
  width: 56px;
  display: inline-block;
}

fieldset {
  border: 0;
}

ul {
  list-style: none;
}

img {
  width: 13px;
  height: 13px;
  margin-right: 4px;
}

/* Form */
.loginForm {
  display: inline-block;
  background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
  padding: 12px;
  box-shadow: 5px 5px 0px #AAAAAA;
}

/* 로그인 */
.loginTitle {
  color: #FFFF00;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* 그룹 */
.loginGroup {
  width: 220px;
  padding: 8px 8px 4px 8px;
  background: #fff;
}

/* 로그인 래퍼 */
.loginWrapper {
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid #cccccc;
  border-radius: 0;
}

/* 아이디 */
.inputId {
  margin-bottom: 4px;
}

/* 로그인 버튼 */
.loginBtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 53px;
  padding: 4px;
  background: #ED552F;
  color: #fff;
  font-weight: normal;
  border: 0;
}

/* 회원가입/아이디비밀번호찾기 */
.memberService {
  padding-top: 4px;
  display: flow-root;
}

/* 회원가입 */
.memberItem:first-child {
  float: left;
}

/* 아이디비밀번호찾기 */
.memberItem:last-child {
  float: right;
}