@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@keyframes hoverEvent {
  0% {}

  100% {
    height: 100%;
  }
}

/* 전체 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  box-sizing: border-box;
  line-height: 150%;
  color: #181818;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 관련 사이트 컨테이너 */
.relatedSiteContainer {
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 0 0 5px 5px;
  width: 190px;
  padding: 8px 12px 12px;

  /* 가운데 설정 */
  margin: 150px auto;
}

/* 관련사이트 제목 */
.relatedSiteTitle {
  font-size: 15px;
  font-weight: 700;
}

.relatedSiteTitle span {
  color: #ED552F;
}

.hoverWrapper {
  margin-top: 8px;
  width: 100%;
  background: #fff;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  overflow: hidden;
  height: 29px;
}

.hoverWrapper:hover {
  animation-name: hoverEvent;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  /* transition-property: height;
  transition-duration: 3s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
  height: 100%; */
}


/* 링크 */
.siteLink {
  display: block;
  padding: 2px 0 4px 24px;
  margin-bottom: 8px;
}

/* hover 이벤트 */


.siteLinkWrapper:hover {
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transform: translateY(10px);
}