@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 전체 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  box-sizing: border-box;
  line-height: 150%;
  color: #181818;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 관련 사이트 컨테이너 */
.relatedSiteContainer {
  background: linear-gradient(180deg, #CCCCCC 0%, #EEEEEE 100%);
  border: 1px solid #A3A3A3;
  border-radius: 0 0 5px 5px;
  width: 190px;
  padding: 8px 12px 12px;

  /* 가운데 설정 */
  margin: 150px auto;
}

/* 관련사이트 제목 */
.relatedSiteTitle {
  font-size: 15px;
  font-weight: 700;
}

/* 색변경 */
.relatedSiteTitle span {
  color: #ED552F;
}

/* 링크 래퍼 */
.siteLinkWrapper {
  margin-top: 8px;
  width: 100%;
  background: #fff;
  border: 1px solid #A3A3A3;
  border-radius: 5px;
  overflow: hidden;
  transition-property: height, padding;
  transition-duration: 0.3s;
  transition-delay: 0s, 0.2s;
  height: 29px;
  padding: 0;
}

/* hover 이벤트 */
.siteLinkWrapper:hover {
  transition-property: height, padding;
  transition-duration: 0.6s;
  transition-delay: 0s, 0.4s;
  transition-timing-function: linear;
  height: 175px;
  padding: 10px 0;
}

/* 링크 */
.siteLink {
  display: block;
  padding: 2px 0 4px 24px;
  margin-bottom: 4px;
}